/* Universial Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  margin-bottom: 1rem;
  line-height: 1.2;
}

p {
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* Utility Styles */
:root {
  --primary-color: #A70F0F;
  --secondary-color: #f1a936;
  --dark-color: #000;
  --dark-highlight-color: #333;
  --light-color: #fff;
  --signature-font: 'Aclonica', sans-serif;
  --heading-font: 'Cinzel', serif;
  --main-font: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.card {
  padding: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: 30rem;
  margin-bottom: 3rem;
}

.card p {
  font-family: var(--main-font);
  font-size: 1.2rem;
}

.card h3 {
  margin-bottom: 0.5rem;
}

.card .text {
  background: #222;
  padding: 1rem;
  overflow: hidden;
  color: #fff;
  border-radius: 0.2rem;
}

.card .image {
  filter: grayscale(75%);
  border-radius: 0.2rem;
}

.separator {
  display: block;
  background: #bbb;
  height: 1px;
  width: 50%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.separator-container {
  display: flex;  
}

.flex-right {
  justify-content: flex-end;
  padding-right: 1rem;
}

.section-intro {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.intro-icon {
  width: 70px;
  margin-right: 1rem;
}

.intro-title {
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 0.72;
  padding: 0;
} 

.badge {
  display: inline-block;
  font-family: var(--signature-font);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background: var(--primary-color);
  color: white;
  border-radius: 0.2rem;
}

.btn {
  display: block;
  text-align: center;
  background: var(--dark-highlight-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 3rem;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  border: 1px solid #fff;
  color: #fff;
}

.secondary {
  color: var(--secondary-color);
}

.primary {
  color: var(--primary-color);
}

.bg-primary {
  background: var(--primary-color);
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}
/* Navigation */
.logo title {
  color: #fff !important;
}

#navbar {
  color: var(--light-color);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#navbar::before {
  content: "";
  background: var(--dark-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

#navbar:hover::before {
  opacity: 0.5;
}

#navbar .navbar-content {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 0 2rem;
}

#navbar .navbar-content .logo {
  border-bottom: 1px solid var(--dark-highlight-color);
  margin-bottom: 1.2rem;
}
#navbar .navbar-content .logo img {
  width: 7rem;
}

#navbar .navbar-content .logo h1 {
  font-family: var(--signature-font);
  font-size: 1rem;
  letter-spacing: 1rem;
}

#navbar .navbar-content .navigation .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .navbar-content .navigation .nav-list li {
  position: relative;
  text-align: left;
  padding-bottom: 1rem;
}

#navbar .navbar-content .navigation .nav-list li a {
  color: #fff;
  padding: 0.3rem 2rem;
  font-size: 1.4rem;
  font-family: var(--heading-font);
  background: inherit;
  transition: color 0.4s ease-in-out;
  display: block;
}

#navbar .navbar-content .navigation .nav-list li a:hover {
  color: var(--secondary-color);
}

/* Nested Lists */
#navbar .navbar-content .navigation .nav-list li .nav-sublist {
  display: none;
}

#navbar .navbar-content .navigation .nav-list li:hover .nav-sublist {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin-top: 1rem;
  animation: sublist-materialize 0.4s ease-in-out forwards;
}

#navbar .navbar-content .navigation .nav-list li .nav-sublist li {
  padding-bottom: 0;
  /* removes padding of .nav-list li */
}

#navbar .navbar-content .navigation .nav-list li .nav-sublist li a {
  display: block;
  /* makes a streth all the way across */
}

@keyframes sublist-materialize {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#navbar .navbar-content .navigation .nav-list li .nav-sublist::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--dark-color);
}

#navbar .navbar-content .navigation .nav-list li:hover .nav-sublist::before {
  animation: sublist-background-materialize 0.8s ease-in-out forwards;
}

@keyframes sublist-background-materialize {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 0.5;
  }
}


#navbar .navbar-content .navigation .nav-list li .nav-sublist li::before {
  content: "";
  background: var(--dark-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#navbar .navbar-content .navigation .nav-list li .nav-sublist li:hover::before {
  opacity: 0.3;
}


/* Showcase */
#showcase {
  height: 100vh;
  background: #444;
  margin-bottom: 4rem;
}

#showcase .hero-image {
  width: 100%;
  height: 100%;
  background: url('../img/mma-hero-image.jpg') no-repeat center center/cover;
}

/* Social Box */
.social-box {
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  color: var(--light-color);
  position: fixed;
  top: 35vh;
  left: 0;
}

.social-box::before {
  content: "";
  background: var(--dark-color);
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--secondary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.social-box:hover::before {
  opacity: 0.3;
}

.social-box i {
  padding: 0.5rem 0;
  color: var(--primary-color);
  transition: color 0.4s ease-in-out; 
}

.social-box i:hover {
  color: var(--secondary-color)
}

/* About */
#about .grid {
  grid-template-columns: 2fr 4.5fr 2fr;
}

#about .about-center {
  background: url("/img/mma-about.jpg") no-repeat center center/cover;
  border-radius: 0.2rem;
}

/* Schedule */
#schedule .grid {
  grid-template-columns: 6.5fr 2fr;
  grid-template-rows: 1fr 1fr;
}

#schedule .schedule-left {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.5rem;
}

#schedule .schedule-right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#schedule .schedule-bottom {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background: url('/img/mma-technique.jpg') no-repeat center center/cover;
}

#schedule .schedule-left .image {
  background: url('/img/mma-schedule.jpg') no-repeat center center/cover;
  border-radius: 0.2rem;
}

#schedule .schedule-content h3 {
  margin-bottom: 0rem;
}

#schedule .schedule-left .schedule-content p {
  margin-bottom: 3rem;
  border-bottom: 1px dotted var(--dark-highlight-color);
}

#schedule .schedule-content p:last-child {
  margin-bottom: 0;
}

#schedule .schedule-right p {
  margin-bottom: 0.5rem;
}

#schedule .schedule-right h3 {
  margin-bottom: 0.2rem;
}

#schedule .badge.btn {
  margin-bottom: 0;
}


/* Join */
#join .grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#join .form-grid {
  display: grid;
  grid-template-areas: 
  "form-top form-top"
  "form-left form-right"
  "form-bottom form-bottom";
  background: #bbb;
  color: var(--dark-color);
  padding: 1rem;
  border-radius: 0.2rem;
  margin: 1rem 0;
}

.form-top {
  grid-area: form-top;
  justify-self: center;
}

.form-left {
  grid-area: form-left;
}

.form-right {
  grid-area: form-right;
}

.form-bottom {
  grid-area: form-bottom;
  padding-bottom: 0;
  justify-self: center;
}

#join .join-right {
  background: url("/img/mma-join.jpg") no-repeat center center/cover;
  border-radius: 0.2rem;
}


#join label,
#join input,
#join p {
  display: block;
  font-family: var(--main-font);
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
}

#join p {
  padding: 0;
  margin-bottom: 0.6rem;
}

#join input,
footer input {
  border-radius: 0.2rem;
  border-style: none;
  padding: 0.4rem 0.5rem;
  margin-bottom: 1.5rem;
}

#join input:focus {
  outline: none;
}

#join .submit {
  margin-bottom: 0;
  border-radius: 3rem;
  font-weight: bold;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 1rem;
}

#join .submit:hover {
  cursor: pointer;
  border: #fff 1px solid;
}

#join .radio {
  display: inline-block;
}

/* Footer */
#main-footer {
  background: #222;
  padding: 1rem;
  overflow: hidden;
  color: #fff;
}

#main-footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
  padding: 2rem 0;
}

.footer-grid .footer-logo {
  width: 7rem;
}

.footer-grid .copyright {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;  
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  justify-self: center;
  text-align: center;
  background: #333;
}

#main-footer input {
  border-radius: 0.2rem;
  border-style: none;
  padding: 0.4rem 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-color);
}

#main-footer input:focus {
  outline: none;
}

#main-footer .btn {
  border-radius: 3rem;
  padding: 0.5rem 1rem;
}

#main-footer .btn:hover {
  cursor: pointer;
  border: #fff 1px solid;
}

#main-footer .footer-grid p {
  margin-bottom: 0.3rem;
  font-family: var(--main-font);
  line-height: 1.4;
  font-size: 1rem;
}

#main-footer .footer-grid ul {
  padding: 0.5rem 0;
}

#main-footer .footer-grid li a {
  display: block;
  margin-bottom: 0.5rem;
  font-family: var(--main-font);
  line-height: 1.4;
  font-size: 1rem;
}

#main-footer a.btn {
  display: inline-block;
  color: var(--secondary-color)
}

#main-footer a.btn:hover {
  display: inline-block;
  color: var(--light-color);
}

