/* Universial Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  margin-bottom: 1rem;
  line-height: 1.2;
}

p {
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* Utility Styles */
:root {
  --primary-color: #A70F0F;
  --secondary-color: #f1a936;
  --dark-color: #000;
  --dark-highlight-color: #333;
  --light-color: #fff;
  --signature-font: 'Aclonica', sans-serif;
  --heading-font: 'Cinzel', serif;
  --main-font: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Navigation */
#navbar {
  color: var(--light-color);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar::before {
  content: "";
  background: var(--dark-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

#navbar:hover::before {
  opacity: 0.5;
}

#navbar .navbar-content {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 0 2rem;
}

#navbar .navbar-content .logo {
  border-bottom: 1px solid var(--dark-highlight-color);
  margin-bottom: 1.2rem;
}
#navbar .navbar-content .logo img {
  width: 7rem;
}

#navbar .navbar-content .logo h1 {
  font-family: var(--signature-font);
  font-size: 1rem;
  letter-spacing: 1rem;
}

#navbar .navbar-content .navigation .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .navbar-content .navigation .nav-list li {
  position: relative;
  text-align: left;
  padding-bottom: 1rem;
}

#navbar .navbar-content .navigation .nav-list li a {
  color: #fff;
  padding: 0.3rem 2rem;
  font-size: 1.4rem;
  font-family: var(--heading-font);
  background: inherit;
  transition: color 0.4s ease-in-out;
  display: block;
}

#navbar .navbar-content .navigation .nav-list li a:hover {
  color: var(--secondary-color);
}

/* Nested Lists */
#navbar .navbar-content .navigation .nav-list li .nav-sublist {
  display: none;
}

#navbar .navbar-content .navigation .nav-list li:hover .nav-sublist {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin-top: 1rem;
  animation: sublist-materialize 0.4s ease-in-out forwards;
}

#navbar .navbar-content .navigation .nav-list li .nav-sublist li {
  padding-bottom: 0;
  /* removes padding of .nav-list li */
}

#navbar .navbar-content .navigation .nav-list li .nav-sublist li a {
  display: block;
  /* makes a streth all the way across */
}

@keyframes sublist-materialize {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#navbar .navbar-content .navigation .nav-list li .nav-sublist::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--dark-color);
}

#navbar .navbar-content .navigation .nav-list li:hover .nav-sublist::before {
  animation: sublist-background-materialize 0.8s ease-in-out forwards;
}

@keyframes sublist-background-materialize {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 0.5;
  }
}


#navbar .navbar-content .navigation .nav-list li .nav-sublist li::before {
  content: "";
  background: var(--dark-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#navbar .navbar-content .navigation .nav-list li .nav-sublist li:hover::before {
  opacity: 0.3;
}


/* Showcase */
#showcase {
  height: 100vh;
  background: #444;
}

#showcase .hero-image {
  width: 100%;
  height: 100%;
  background: url('../img/mma-hero-image.jpg') no-repeat center center/cover;
}

/* Social Box */
.social-box {
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  color: var(--light-color);
  position: fixed;
  top: 35vh;
  left: 0;
}

.social-box::before {
  content: "";
  background: var(--dark-color);
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--secondary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.social-box:hover::before {
  opacity: 0.3;
}

.social-box i {
  padding: 0.5rem 0;
  color: var(--primary-color);
  transition: color 0.4s ease-in-out; 
}

.social-box i:hover {
  color: var(--secondary-color)
}
